* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main form button, .section-sobrenosotros form button, .section-extra form button {
  background-color: blueviolet;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.7rem;
  color: white;
  font-family: 'Rubik', sans-serif; }

.contenedor-imagenes .img-trabajadores .img-radius:hover {
  transform: scale(1.5);
  transition: 2s; }

.img-sobrenosotros img:hover {
  transform: scale(1.1);
  transition: 2s; }

/*index*/
.contedor-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }

body .contenedor {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; }

header {
  height: 100px;
  background-color: black;
  grid-area: header; }
  header .h1-logo {
    padding: 10px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
    text-decoration: none; }
  header .nav-productos ul li {
    list-style: none;
    margin: 3px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid white;
    text-align: center; }
    header .nav-productos ul li:hover {
      background: #5c1b48; }

.main-fondo-home {
  height: 560px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
  padding-top: 250px; }

main .main-eslogan {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0 25px;
  font-size: 2rem; }

main form {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  main form button:hover {
    color: #dec6f4; }

.section-sobrenosotros {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: section-sobrenosotros;
  padding-top: 80px; }
  .section-sobrenosotros .h2-sobrenosotros {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-style: italic; }
  .section-sobrenosotros .p-sobrenosotros {
    padding: 50px 80px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center; }
  .section-sobrenosotros form {
    padding-top: 5px;
    text-align: center; }
    .section-sobrenosotros form button:hover {
      color: #dec6f4; }

.section-productos {
  height: 780px;
  grid-area: section-productos;
  background-color: #1a1a1a;
  text-align: center;
  color: white; }
  .section-productos .h2-productos {
    padding: 10px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase; }

.section-extra {
  height: 550px;
  background-color: #f8ecde;
  grid-area: section-extra;
  padding: 15px;
  text-align: center; }
  .section-extra .h2-extra {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase; }
  .section-extra .section-extra-contenido {
    font-size: 1.4rem;
    padding: 50px 30px;
    font-family: 'Libre Franklin', sans-serif; }
  .section-extra form {
    padding-top: 25px; }
    .section-extra form button:hover {
      color: #dec6f4; }

footer {
  font-family: 'Roboto', sans-serif;
  height: 125px;
  padding: 5px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

/*media query Mobile Index*/
@media screen and (max-width: 600px) {
  .contedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .nav-config a:hover {
    color: #bc97de; }
  .main-fondo-home {
    height: 560px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: main;
    padding-top: 200px; }
  main .main-eslogan {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 20px 40px;
    font-size: 1.8em; }
    main .main-eslogan form {
      display: flex;
      justify-content: center;
      padding-top: 50px; }
      main .main-eslogan form button {
        background-color: blueviolet;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
        main .main-eslogan form button:hover {
          color: #dec6f4; }
  form button:hover {
    color: #bc97de; }
  .section-sobrenosotros {
    height: 600px;
    background-color: whitesmoke;
    grid-area: section-sobrenosotros;
    padding-top: 50px;
    text-align: center; }
    .section-sobrenosotros .h2-sobrenosotros {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem; }
    .section-sobrenosotros .p-sobrenosotros {
      padding: 35px 30px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.2rem; }
    .section-sobrenosotros form {
      padding-top: 5px; }
      .section-sobrenosotros form button {
        background-color: blueviolet;
        padding: 15px;
        border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
  form button:hover {
    color: #b583e8; }
  .section-productos {
    height: 550px;
    grid-area: section-productos;
    background-color: #1a1a1a;
    text-align: center;
    color: white; }
    .section-productos .h2-productos {
      padding: 20px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 2rem;
      text-transform: uppercase; }
  .section-extra {
    height: 400px;
    background-color: #f8ecde;
    grid-area: section-extra;
    padding: 15px;
    text-align: center; }
    .section-extra .h2-extra {
      font-family: 'Roboto', sans-serif;
      padding-top: 20px;
      font-size: 2rem;
      text-transform: uppercase; }
    .section-extra .section-extra-contenido {
      font-size: 1.2rem;
      padding: 15px 30px;
      font-family: 'Libre Franklin', sans-serif; }
    .section-extra form {
      padding-top: 15px; }
      .section-extra form button {
        background-color: blueviolet;
        padding: 15px;
        border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
        .section-extra form button:hover {
          color: #dec6f4; } }

footer {
  font-family: 'Roboto', sans-serif;
  height: 130px;
  padding: 15px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

/*media query Tablet Index*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
    header .p-logo {
      padding: 10px 0;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 2.5rem;
      font-weight: bold;
      color: white; }
  .main-fondo-home {
    height: 800px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: main;
    padding-top: 300px; }
  main .main-eslogan {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    font-size: 1.9em; }
    main .main-eslogan form {
      display: flex;
      justify-content: center;
      padding-top: 50px; }
      main .main-eslogan form button {
        background-color: blueviolet;
        padding: 25px;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 2.3rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
        main .main-eslogan form button:hover {
          color: #dec6f4; }
  .section-sobrenosotros {
    height: 700px;
    background-color: whitesmoke;
    grid-area: section-sobrenosotros;
    padding-top: 100px;
    text-align: center; }
  section .h2-sobrenosotros {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem; }
    section .h2-sobrenosotros .p-sobrenosotros {
      padding: 35px 30px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.5rem; }
    section .h2-sobrenosotros form {
      padding-top: 5px; }
      section .h2-sobrenosotros form button {
        background-color: blueviolet;
        padding: 15px;
        border-radius: 10px;
        font-size: 2.3rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
        section .h2-sobrenosotros form button:hover {
          color: #dec6f4; }
  .section-productos {
    height: 750px;
    grid-area: section-productos;
    background-color: #1a1a1a;
    text-align: center;
    color: white; }
    .section-productos .h2-productos {
      padding: 15px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 2rem;
      text-transform: uppercase; }
  .section-extra {
    height: 500px;
    background-color: #f8ecde;
    grid-area: section-extra;
    padding: 25px;
    text-align: center; }
    .section-extra .h2-extra {
      font-family: 'Roboto', sans-serif;
      padding: 20px 0px;
      font-size: 2.5rem;
      text-transform: uppercase; }
    .section-extra .section-extra-contenido {
      font-size: 1.5rem;
      padding: 10px 30px;
      font-family: 'Libre Franklin', sans-serif; }
    .section-extra form {
      padding-top: 15px; }
      .section-extra form button {
        background-color: blueviolet;
        padding: 15px;
        border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        font-family: 'Rubik', sans-serif; }
        .section-extra form button:hover {
          color: #dec6f4; }
  footer {
    font-family: 'Roboto', sans-serif;
    height: 130px;
    padding: 15px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative; } }

/* SOBRE NOSOTROS*/
.contenedor-grid-sobrenosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header header" "main main main" "contenedor-imagenes contenedor-imagenes contenedor-imagenes" "footer footer footer"; }

header {
  grid-area: header; }

.main-sobre-nosotros {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-sobre-nosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: main;
  height: auto; }
  .main-sobre-nosotros .h2-sobre-nosotros {
    color: white;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 35px 25px; }

.p1, .p2, .p3 {
  color: white;
  text-align: center;
  padding: 5px 50px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.1rem; }

.img-sobrenosotros {
  display: flex;
  justify-content: space-around; }
  .img-sobrenosotros img {
    padding-bottom: 20px;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: 10px; }

.contenedor-imagenes {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #292929;
  grid-area: contenedor-imagenes; }
  .contenedor-imagenes .img-trabajadores {
    padding-top: 40px; }
    .contenedor-imagenes .img-trabajadores .img-radius {
      margin: 10px;
      height: 150px;
      width: 150px;
      border-radius: 100px; }
    .contenedor-imagenes .img-trabajadores .texto-empleados {
      color: white;
      font-weight: bold;
      text-align: center; }
      .contenedor-imagenes .img-trabajadores .texto-empleados .p {
        font-size: 1.3rem;
        padding-top: 5px; }
      .contenedor-imagenes .img-trabajadores .texto-empleados .p-dos {
        font-size: 1.2rem; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  height: 125px;
  padding: 5px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

/*media query Mobile Sobre Nosotros*/
@media screen and (max-width: 600px) {
  .contenedor-grid-sobrenosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "main" "img-sobrenosotros" "contenedor-imagenes" "footer"; }
  header {
    grid-area: header; }
  main {
    height: 600px;
    grid-area: main; }
  main .h1-sobrenosotros {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 90px 30px; }
  .main-sobrenosotros p {
    padding: 20px 30px;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  .img-sobrenosotros img {
    display: none; }
  .contenedor-imagenes {
    height: 150px;
    background-image: url(../img/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #37fdbb;
    grid-area: contenedor-imagenes; }
    .contenedor-imagenes .img-trabajadores {
      display: none; }
  footer {
    grid-area: footer; } }

/*media query Tablet Sobre Nosotros*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contenedor-grid-sobrenosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header" "main" "img-sobrenosotros" "contenedor-imagenes" "footer"; }
  header {
    grid-area: header; }
  main {
    height: 1000px;
    grid-area: main; }
  main .h1-sobrenosotros {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 60px; }
  .main-sobrenosotros p {
    padding: 40px 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: justify;
    font-size: 1.2rem; }
  .img-sobrenosotros img {
    display: none; }
  .contenedor-imagenes {
    height: 300px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: contenedor-imagenes; }
    .contenedor-imagenes .img-trabajadores {
      display: flex; }
  footer {
    grid-area: footer; } }

/*productos*/
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.main-productos {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-productos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  grid-area: main; }
  .main-productos .h2-main-productos {
    padding: 10px;
    height: 60px;
    text-align: center;
    background-color: #5c1b48;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white; }
  .main-productos .cartas-productos {
    padding-top: 30px;
    display: flex;
    justify-content: center; }
    .main-productos .cartas-productos .bg-black {
      border-radius: 20px;
      height: auto;
      text-align: center; }
      .main-productos .cartas-productos .bg-black:hover {
        box-shadow: 5px 5px 20px rgba(255, 91, 206, 0.5);
        transform: translateY(-3%); }
      .main-productos .cartas-productos .bg-black .card-img-top {
        border-radius: 10px; }
    .main-productos .cartas-productos .accordion-button {
      width: 100px;
      background-color: #5c1b48;
      margin-top: 5px;
      padding: 8px 20px;
      border-radius: 5px; }
    .main-productos .cartas-productos .accordion-body {
      margin-top: 25px; }
    .main-productos .cartas-productos .card-title {
      padding-top: 7px; }
    .main-productos .cartas-productos .card-text {
      padding-top: 10px;
      text-align: center; }
  .main-productos .texto-empresa {
    color: white;
    padding: 10px 80px;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  .main-productos .texto-productos {
    color: white;
    padding: 10px 80px;
    font-size: 0.9rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  .main-productos .separacion {
    color: #5c1b48;
    font-weight: bold;
    text-align: center;
    padding-top: 5px; }

footer {
  font-family: 'Roboto', sans-serif;
  height: 125px;
  padding: 5px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative;
  grid-area: footer; }

@media screen and (max-width: 600px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  main {
    height: auto;
    grid-area: main; }
    main .h2-main-productos {
      padding: 10px;
      height: 60px;
      text-align: center;
      background-color: #343434;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white; }
    main .cartas-productos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .cartas-productos .bg-black {
        border-radius: 20px;
        height: auto;
        text-align: center; }
  .texto-productos {
    padding: 25px 50px;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  footer {
    font-family: 'Roboto', sans-serif;
    height: 125px;
    padding: 5px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative;
    grid-area: footer; } }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  main {
    height: auto;
    grid-area: main; }
    main .h2-main-productos {
      padding: 10px;
      height: 60px;
      text-align: center;
      background-color: #343434;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white; }
    main .cartas-productos {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .cartas-productos .bg-black {
        border-radius: 20px;
        height: auto;
        text-align: center; }
  .texto-productos {
    padding: 25px 50px;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  footer {
    font-family: 'Roboto', sans-serif;
    height: 125px;
    padding: 5px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative;
    grid-area: footer; } }

/*ENVIOS*/
.contenedor-grid-envios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.contenedor-envios {
  height: 700px;
  background-color: whitesmoke;
  grid-area: main;
  text-align: center; }
  .contenedor-envios h1 {
    font-weight: bold;
    color: #5c1b48;
    padding: 70px 50px; }
  .contenedor-envios p {
    font-size: 1rem;
    padding: 0px 50px; }
  .contenedor-envios h2 {
    font-weight: bold;
    color: #5c1b48;
    padding: 40px 50px; }

footer {
  font-family: 'Roboto', sans-serif;
  height: 125px;
  padding: 5px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative;
  grid-area: footer; }

@media screen and (max-width: 600px) {
  .contenedor-grid-envios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "main" "section-envios" "footer"; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .contenedor-envios {
    background-color: #dafff3;
    height: auto; }
    .contenedor-envios h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 30px; }
    .contenedor-envios .envios1 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .contenedor-envios .envios2 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
  .section-envios {
    background-color: #dafff3;
    display: flex;
    flex-direction: column;
    grid-area: section-envios; }
    .section-envios .section1 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .section-envios .section2 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .section-envios img {
      display: none; }
  footer {
    grid-area: footer; } }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contenedor-grid-envios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "main" "section-envios" "footer"; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .contenedor-envios {
    background-color: #dafff3;
    height: auto; }
    .contenedor-envios h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 30px; }
    .contenedor-envios .envios1 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .contenedor-envios .envios2 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
  .section-envios {
    background-color: #dafff3;
    display: flex;
    flex-direction: column;
    grid-area: section-envios; }
    .section-envios .section1 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .section-envios .section2 {
      font-size: 1.3rem;
      font-family: 'Libre Franklin', sans-serif;
      text-align: justify;
      padding: 20px 40px; }
    .section-envios img {
      display: none; }
  footer {
    grid-area: footer; } }

/*CONTACTO*/
.contenedor-grid-contacto {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main section-contactanos section-contactanos" "footer footer footer"; }

header {
  grid-area: header; }

.formulario-contacto-principal {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../img/fondo-contactos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: main;
  display: flex;
  justify-content: space-around; }
  .formulario-contacto-principal .formulario-form {
    padding-top: 100px;
    color: white;
    text-align: center; }
    .formulario-contacto-principal .formulario-form .forms {
      display: flex;
      flex-direction: column;
      width: 30vw; }
      .formulario-contacto-principal .formulario-form .forms input, .formulario-contacto-principal .formulario-form .forms textarea {
        text-align: center;
        border: none;
        background: none;
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid white;
        color: white; }
    .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto {
      display: flex;
      justify-content: center; }
      .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto input {
        text-align: center;
        background-color: #7f03f3;
        padding: 10px;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: white;
        margin: 15px 5px; }
        .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto input:hover {
          color: #dec6f4; }

.section-contactanos {
  grid-area: section-contactanos; }
  .section-contactanos .contactanos {
    text-align: center;
    color: white;
    padding: 25px 0px;
    font-size: 2.1rem; }
  .section-contactanos .text-contacto {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  height: 125px;
  padding: 5px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

@media screen and (max-width: 600px) {
  .contenedor-grid-contacto {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "header" "main"  "section-contactanos" "footer"; }
  header {
    grid-area: header; }
  .formulario-contacto-principal {
    grid-area: main;
    background-color: antiquewhite;
    height: auto; }
    .formulario-contacto-principal .formulario-contacto, .formulario-contacto-principal textarea {
      text-align: center;
      font-family: 'Roboto', sans-serif; }
    .formulario-contacto-principal legend {
      border-radius: 9px;
      background-color: black;
      font-size: 2rem;
      padding: 15px 15px;
      color: white; }
    .formulario-contacto-principal .formulario-contacto-style {
      border-radius: 9px;
      border: 2px solid black; }
      .formulario-contacto-principal .formulario-contacto-style label {
        display: flex;
        flex-direction: column;
        margin: 15px;
        font-size: 1.5rem; }
      .formulario-contacto-principal .formulario-contacto-style input, .formulario-contacto-principal .formulario-contacto-style textarea {
        text-align: center;
        padding: 15px 15px;
        background-color: #d4ffff; }
    .formulario-contacto-principal .formulario-contacto-buttons input {
      background-color: #7f03f3;
      padding: 10px;
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: white;
      margin: 15px 5px; }
      .formulario-contacto-principal .formulario-contacto-buttons input:hover {
        color: #dec6f4; }
  .section-contactanos {
    grid-area: section-contactanos;
    width: auto;
    background-color: antiquewhite; }
    .section-contactanos .contactanos {
      text-align: center;
      padding: 25px; }
    .section-contactanos .mapa-contacto {
      display: flex;
      justify-content: center; }
    .section-contactanos .text-contacto {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 5px; }
  footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    height: 125px;
    padding: 5px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative; } }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contenedor-grid-contacto {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "header" "main"  "section-contactanos" "footer"; }
  header {
    grid-area: header; }
  .formulario-contacto-principal {
    grid-area: main;
    background-color: antiquewhite;
    height: auto; }
    .formulario-contacto-principal .formulario-contacto, .formulario-contacto-principal textarea {
      text-align: center;
      font-family: 'Roboto', sans-serif; }
    .formulario-contacto-principal legend {
      border-radius: 9px;
      background-color: black;
      font-size: 2rem;
      padding: 15px 15px;
      color: white; }
    .formulario-contacto-principal .formulario-contacto-style {
      border-radius: 9px;
      border: 2px solid black; }
      .formulario-contacto-principal .formulario-contacto-style label {
        display: flex;
        flex-direction: column;
        margin: 15px;
        font-size: 1.5rem; }
      .formulario-contacto-principal .formulario-contacto-style input, .formulario-contacto-principal .formulario-contacto-style textarea {
        text-align: center;
        padding: 15px 15px;
        background-color: #d4ffff; }
    .formulario-contacto-principal .formulario-contacto-buttons input {
      background-color: #7f03f3;
      padding: 10px;
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: white;
      margin: 15px 5px; }
      .formulario-contacto-principal .formulario-contacto-buttons input:hover {
        color: #dec6f4; }
  .section-contactanos {
    grid-area: section-contactanos;
    width: auto;
    background-color: antiquewhite; }
    .section-contactanos .contactanos {
      text-align: center;
      padding: 25px; }
    .section-contactanos .mapa-contacto {
      display: flex;
      justify-content: center; }
    .section-contactanos .text-contacto {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 5px; }
  footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    height: 125px;
    padding: 5px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative; } }
