@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*displays*/
main form button, .section-sobrenosotros form button, .section-extra form button {
  background-color: blueviolet;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.7rem;
  color: white;
  font-family: 'Rubik', sans-serif; }

.contenedor-imagenes .img-trabajadores .img-radius:hover {
  transform: scale(1.5);
  transition: 2s; }

.img-sobrenosotros img:hover {
  transform: scale(1.1);
  transition: 2s; }

/*index*/
.contedor-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }

body .contenedor {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; }

header {
  height: 100px;
  background-color: black;
  grid-area: header; }
  header .h1-logo {
    padding: 10px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
    text-decoration: none; }
  header .nav-productos ul li {
    list-style: none;
    margin: 3px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid white;
    text-align: center; }
    header .nav-productos ul li:hover {
      background: #5c1b48; }

.main-fondo-home {
  height: 560px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
  padding-top: 250px; }

main .main-eslogan {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0 25px;
  font-size: 2rem; }

main form {
  display: flex;
  justify-content: center;
  padding-top: 50px; }
  main form button:hover {
    color: #dec6f4; }

.section-sobrenosotros {
  height: 600px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/home-sobre-nosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: section-sobrenosotros;
  padding-top: 80px; }
  .section-sobrenosotros .h2-sobrenosotros {
    color: white;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 35px 25px; }
  .section-sobrenosotros .p-sobrenosotros {
    color: white;
    padding: 50px 80px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2rem;
    text-align: center; }
  .section-sobrenosotros form {
    padding-top: 5px;
    text-align: center; }
    .section-sobrenosotros form button:hover {
      color: #dec6f4; }

.section-productos {
  height: 770px;
  grid-area: section-productos;
  background-color: black;
  text-align: center;
  color: white; }
  .section-productos .h2-productos {
    padding: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase; }

.section-extra {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/home-ademas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  grid-area: section-extra;
  padding: 15px;
  text-align: center; }
  .section-extra .h2-extra {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase; }
  .section-extra .section-extra-contenido {
    color: white;
    font-size: 1.4rem;
    padding: 50px 30px;
    font-family: 'Libre Franklin', sans-serif; }
  .section-extra form {
    padding-top: 25px; }
    .section-extra form button:hover {
      color: #dec6f4; }

footer {
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 10px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

/*media query Mobile Index*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .main-fondo-home {
    height: 560px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
    padding-top: 200px; }
  main .main-eslogan {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 50px;
    font-size: 1.5rem; }
  .section-sobrenosotros {
    height: auto;
    grid-area: section-sobrenosotros;
    padding: 25px 0px; }
  .section-productos {
    height: auto;
    grid-area: section-productos; }
    .section-productos .h2-productos {
      padding: 15px 10px;
      font-size: 1.5rem; }
    .section-productos .contenedor-carrusel .carousel-item .tamaño-carrusel {
      width: 80%; }
  .section-extra {
    height: auto;
    grid-area: section-extra; }
    .section-extra .section-extra-contenido {
      color: white;
      font-size: 1.4rem;
      padding: 50px 30px;
      font-family: 'Libre Franklin', sans-serif; }
    .section-extra form {
      padding-bottom: 15px; }
  footer {
    grid-area: footer; } }

@media screen and (min-width: 769px) and (max-width: 990px) {
  .contedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "main" "section-sobrenosotros" "section-productos" "section.extra" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .main-fondo-home {
    height: 500px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
    padding-top: 200px; }
  main .main-eslogan {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 50px;
    font-size: 1.5rem; }
  .section-sobrenosotros {
    height: auto;
    grid-area: section-sobrenosotros;
    padding: 25px 0px; }
  .section-productos {
    height: auto;
    grid-area: section-productos; }
    .section-productos .h2-productos {
      padding: 15px 10px;
      font-size: 1.5rem; }
    .section-productos .contenedor-carrusel .carousel-item .tamaño-carrusel {
      width: 80%; }
  .section-productos {
    height: auto;
    grid-area: section-productos; }
    .section-productos .h2-productos {
      padding: 15px 10px;
      font-size: 1.5rem; }
  .section-extra {
    height: auto;
    grid-area: section-extra; }
    .section-extra .section-extra-contenido {
      color: white;
      font-size: 1.4rem;
      padding: 50px 30px;
      font-family: 'Libre Franklin', sans-serif; }
  footer {
    grid-area: footer;
    height: auto; } }

/* SOBRE NOSOTROS*/
.contenedor-grid-sobrenosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header header" "main main main" "contenedor-imagenes contenedor-imagenes contenedor-imagenes" "footer footer footer"; }

header {
  grid-area: header; }

.main-sobre-nosotros {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-sobre-nosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: main; }
  .main-sobre-nosotros .h2-sobre-nosotros {
    color: white;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 35px 25px; }

.p1, .p2, .p3 {
  color: white;
  text-align: center;
  padding: 5px 50px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.1rem; }

.img-sobrenosotros {
  display: flex;
  justify-content: space-around; }
  .img-sobrenosotros img {
    padding-bottom: 20px;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: 10px; }

.contenedor-imagenes {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  grid-area: contenedor-imagenes; }
  .contenedor-imagenes .img-trabajadores {
    padding-top: 40px; }
    .contenedor-imagenes .img-trabajadores .img-radius {
      margin: 10px;
      height: 150px;
      width: 150px;
      border-radius: 100px; }
    .contenedor-imagenes .img-trabajadores .texto-empleados {
      color: white;
      font-weight: bold;
      text-align: center; }
      .contenedor-imagenes .img-trabajadores .texto-empleados .p {
        font-size: 1.3rem;
        padding-top: 5px; }
      .contenedor-imagenes .img-trabajadores .texto-empleados .p-dos {
        font-size: 1.2rem; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 10px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

/*media query Mobile Sobre Nosotros*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor-grid-sobrenosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "main" "contenedor-imagenes" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .main-sobre-nosotros {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-sobre-nosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: main;
    height: auto; }
    .main-sobre-nosotros .p1, .main-sobre-nosotros .p2, .main-sobre-nosotros .p3 {
      color: white;
      text-align: center;
      padding: 10px 40px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.1rem; }
    .main-sobre-nosotros .img-sobrenosotros {
      flex-direction: column;
      align-items: center; }
      .main-sobre-nosotros .img-sobrenosotros img {
        width: 70%;
        height: 70%; }
  .contenedor-imagenes {
    grid-area: contenedor-imagenes;
    display: none; }
  footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    height: auto;
    padding: 10px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative; } }

@media screen and (min-width: 769px) and (max-width: 990px) {
  .contenedor-grid-sobrenosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "main" "contenedor-imagenes" "footer"; }
  header {
    grid-area: header; }
  .main-sobre-nosotros {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-sobre-nosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: main;
    height: auto; }
    .main-sobre-nosotros .p1, .main-sobre-nosotros .p2, .main-sobre-nosotros .p3 {
      color: white;
      text-align: center;
      padding: 5px 50px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.2rem; }
    .main-sobre-nosotros .img-sobrenosotros {
      display: none; }
  .contenedor-imagenes {
    grid-area: contenedor-imagenes; }
    .contenedor-imagenes .img-trabajadores .img-radius:hover {
      transform: scale(1.2);
      transition: 2s; }
  footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    height: auto;
    padding: 10px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative; } }

/*productos*/
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.main-productos {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-productos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  grid-area: main; }
  .main-productos .h2-main-productos {
    padding: 10px;
    height: 60px;
    text-align: center;
    background-color: #5c1b48;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white; }
  .main-productos .cartas-productos {
    padding-top: 30px;
    display: flex;
    justify-content: center; }
    .main-productos .cartas-productos .bg-black {
      border-radius: 20px;
      height: auto;
      text-align: center; }
      .main-productos .cartas-productos .bg-black:hover {
        box-shadow: 5px 5px 20px rgba(255, 91, 206, 0.5);
        transform: translateY(-3%); }
      .main-productos .cartas-productos .bg-black .card-img-top {
        border-radius: 10px; }
    .main-productos .cartas-productos .accordion-body {
      background-color: black;
      color: white; }
    .main-productos .cartas-productos .card-title {
      padding-top: 7px; }
    .main-productos .cartas-productos .card-text {
      padding-top: 10px;
      text-align: center; }
  .main-productos .texto-empresa {
    color: white;
    padding: 10px 80px;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  .main-productos .texto-productos {
    color: white;
    padding: 10px 80px;
    font-size: 0.9rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  .main-productos .separacion {
    color: #5c1b48;
    font-weight: bold;
    text-align: center;
    padding-top: 5px; }

footer {
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 10px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative;
  grid-area: footer; }

@media screen and (max-width: 600px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  main {
    height: auto;
    grid-area: main; }
    main .h2-main-productos {
      padding: 10px;
      height: 60px;
      text-align: center;
      background-color: #343434;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white; }
    main .cartas-productos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .cartas-productos .bg-black {
        border-radius: 20px;
        height: auto;
        text-align: center; }
  .texto-productos {
    padding: 25px 50px;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  footer {
    font-family: 'Roboto', sans-serif;
    height: auto;
    padding: 10px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative;
    grid-area: footer; } }

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  main {
    height: auto;
    grid-area: main; }
    main .h2-main-productos {
      padding: 10px;
      height: 60px;
      text-align: center;
      background-color: #343434;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white; }
    main .cartas-productos {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .cartas-productos .bg-black {
        border-radius: 20px;
        height: auto;
        text-align: center; }
  .texto-productos {
    padding: 25px 50px;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Libre Franklin', sans-serif; }
  footer {
    font-family: 'Roboto', sans-serif;
    height: auto;
    padding: 10px;
    background-color: #363535;
    text-align: center;
    grid-area: footer;
    color: white;
    display: relative;
    grid-area: footer; } }

/*ENVIOS*/
.contenedor-grid-envios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.contenedor-envios {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fondo-envios.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  grid-area: main;
  text-align: center; }
  .contenedor-envios h1 {
    -webkit-text-stroke: 1px #ff59cd;
    font-weight: bold;
    color: white;
    padding: 70px 50px; }
  .contenedor-envios p {
    color: white;
    font-size: 1.1rem;
    padding: 10px 50px; }
  .contenedor-envios h2 {
    -webkit-text-stroke: 1px #ff59cd;
    font-weight: bold;
    color: white;
    padding: 40px 50px; }

footer {
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 10px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative;
  grid-area: footer; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor-grid-envios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .contenedor-envios {
    grid-area: main;
    height: auto; }
  footer {
    grid-area: footer; } }

@media screen and (min-width: 769px) and (max-width: 990px) {
  .contenedor-grid-envios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  .contenedor-envios {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-envios.png);
    grid-area: main;
    height: auto; }
  footer {
    grid-area: footer; } }

/*CONTACTO*/
.contenedor-grid-contacto {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header; }

.formulario-contacto-principal {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/fondo-contactos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: main;
  display: flex;
  justify-content: space-around; }
  .formulario-contacto-principal .formulario-form {
    padding-top: 100px;
    color: white;
    text-align: center; }
    .formulario-contacto-principal .formulario-form .forms {
      display: flex;
      flex-direction: column;
      width: 30vw; }
      .formulario-contacto-principal .formulario-form .forms input, .formulario-contacto-principal .formulario-form .forms textarea {
        text-align: center;
        border: none;
        background: none;
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid white;
        color: white; }
    .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto {
      display: flex;
      justify-content: center; }
      .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto input {
        text-align: center;
        background-color: #ff59cd;
        padding: 10px;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: white;
        margin: 15px 5px; }
        .formulario-contacto-principal .formulario-form .formulario-contacto-buttons .input-contacto input:hover {
          color: #dec6f4; }

.section-contactanos .contactanos {
  text-align: center;
  color: white;
  padding: 25px 0px;
  font-size: 2.1rem; }

.section-contactanos .text-contacto {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px; }

footer {
  grid-area: footer;
  font-family: 'Roboto', sans-serif;
  height: auto;
  padding: 10px;
  background-color: #363535;
  text-align: center;
  grid-area: footer;
  color: white;
  display: relative; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor-grid-contacto {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "header" "main"  "footer"; }
  body .contenedor {
    display: flex;
    flex-direction: column;
    text-align: center; }
  header {
    height: 200px;
    background-color: black;
    grid-area: header; }
  .formulario-contacto-principal {
    display: flex;
    flex-direction: column;
    grid-area: main;
    height: auto; }
    .formulario-contacto-principal .formulario-form {
      padding-top: 50px;
      color: white;
      text-align: center; }
      .formulario-contacto-principal .formulario-form .forms {
        display: flex;
        flex-direction: column;
        width: 300px; }
        .formulario-contacto-principal .formulario-form .forms input, .formulario-contacto-principal .formulario-form .forms textarea {
          text-align: center;
          border: none;
          background: none;
          margin: 10px;
          padding: 10px;
          border-bottom: 1px solid white;
          color: white; }
      .formulario-contacto-principal .formulario-form .formulario-contacto-buttons {
        padding-bottom: 100px; }
    .formulario-contacto-principal .section-contactanos .mapa-contacto {
      display: flex;
      justify-content: center;
      padding: 25px 25px; }
      .formulario-contacto-principal .section-contactanos .mapa-contacto iframe {
        width: 80%;
        height: 500px; }
  footer {
    grid-area: footer; } }
