@import "layout/reset";
@import "layout/mixin";
@import "layout/variables";
@import "layout/extend";


//index
/*index*/ 

.contedor-grid {
   @include display-grid;
}
body .contenedor {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
header {
    height: 100px;
    background-color: $color;
    grid-area: header;
    .h1-logo{
    @include logo;
    }
    .nav-productos ul li {
        @include nav;
    }
}
 .main-fondo-home {
    @include home;
}
main {
    .main-eslogan {
        @include main-eslogan;
       }
        form {
            @include form;
            button {
                @extend %botones;
                &:hover {
                    color: $hover;
                }
            }
        }
}
.section-sobrenosotros { 
    @include section-sobre-nosotros;
    .h2-sobrenosotros {
        @include h2-sobre-nosotros;
    }
    .p-sobrenosotros {
        @include p-sobre-nosotros;
    }
    form {
        padding-top: 5px;
        text-align: center;
        button {
            @extend %botones;
            &:hover {
            color: $hover;
            }
        }
    }
}
.section-productos {
    height: 780px;
    grid-area: section-productos;
    background-color: $color;
    text-align: center;
    color: $white;
    .h2-productos {
        padding: 15px;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
    }
}

.section-extra {
    @include section-extra;
    .h2-extra {
        @include h2-extra;
    }
    .section-extra-contenido {
        color: $white;
        font-size: 1.4rem;
        padding: 50px 30px;
        font-family: 'Libre Franklin', sans-serif;
    }
    form {
        padding-top: 25px;
        button {
            @extend %botones;
            &:hover {
                color: $hover;
            }
        }
    }
}
footer {
    @include footer;
}
@import "layout/media-querys/home.scss";

/* SOBRE NOSOTROS*/

.contenedor-grid-sobrenosotros {
    @include display-grid-sobrenosotros;
}
header {
    grid-area: header; 
}
.main-sobre-nosotros{
    @include main-sobre-nosotros;
        .h2-sobre-nosotros {
            @include h2-sobre-nosotros;
        } 
    }
    .p1,.p2, .p3 {
        color: $white;
        text-align: center;
        padding: 5px 50px;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.1rem;
    }
.img-sobrenosotros{
    display: flex;
    justify-content: space-around;
    img {
        padding-bottom: 20px;
        border-radius: 20px;
        width: 500px;
        height: 350px;
        margin: 10px;
        &:hover {
           @extend %transition-tres; 
        }
    }
}
.contenedor-imagenes {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: $color;
    grid-area: contenedor-imagenes;
    .img-trabajadores {
        padding-top: 40px;
        .img-radius {
            margin: 10px;
            height: 150px;
            width: 150px;
            border-radius: 100px;
            &:hover{
                @extend %transition-dos} 
        }
        .texto-empleados {
            color: $white;
            font-weight: bold;
            text-align: center;
            .p {
                font-size: 1.3rem;
                padding-top: 5px;
            }
            .p-dos {
                font-size: 1.2rem;
            }
        }
    }
}
footer {
    grid-area: footer;
    @include footer;
}
@import "layout/media-querys/media-sobre-nosotros.scss";

/*productos*/
.contenedor-productos {
    @include display-grid-productos;
   }
   header{
       grid-area: header;
   }
   .main-productos {
    @include main-productos;
       .h2-main-productos {
           @include h2-main-productos;
       }
       .cartas-productos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        .bg-black {
            border-radius: 20px;
            height: auto;
            text-align: center;
            &:hover{
                box-shadow:  5px 5px 20px rgba(255, 91, 206, 0.5);
                transform: translateY(-3%);}
            .card-img-top{
                border-radius: 10px;}
            }
            .accordion-button {
                width: 100px;
                background-color: $color-dos;
                margin-top: 5px;
                padding: 8px 20px;
                border-radius: 5px;
            }
            .accordion-body{
                margin-top: 25px;
            }
            .card-title {
                padding-top: 7px;
            }
            .card-text {
                padding-top: 10px;
                text-align: center;
            }
        }
        .texto-empresa {
            color: $white;
            padding: 10px 80px;
            font-size: 1rem;
            text-align: justify;
            font-family: 'Libre Franklin', sans-serif;
        }
        .texto-productos {
            color: $white;
            padding: 10px 80px;
            font-size: 0.9rem;
            text-align: justify;
            font-family: 'Libre Franklin', sans-serif;
       } 
       .separacion {
        color:$color-dos ;
        font-weight: bold;
        text-align: center;
        padding-top: 5px ; 
       } 
    }
   footer {
       @include footer;
       grid-area: footer;
   }
   @import "layout/media-querys/media-productos.scss";


/*ENVIOS*/
   .contenedor-grid-envios {
       @include display-grid-envios
   }
   header {
       grid-area: header;
   }
   .contenedor-envios {
       @include contenedor-envios;
       h1 {
        -webkit-text-stroke: 1px $webkit-text;
        font-weight: bold;
        color: $white;
        padding: 70px 50px;
       }
       p {
        color: $white;
        font-size: 1.1rem;
        padding: 0px 50px ;
       }
       h2 {
        -webkit-text-stroke: 1px $webkit-text;
        font-weight: bold;
        color:$white;
        padding: 40px 50px;
       }
   }
   footer {
       @include footer;
       grid-area: footer;
   }
   @import "layout/media-querys/media-envios.scss";


   /*CONTACTO*/
   .contenedor-grid-contacto {
       @include contenedor-grid-contacto;
   }
   header {
       grid-area: header;
   }
   .formulario-contacto-principal {
        @include fondo-contacto;
        grid-area: main;
        display: flex;
        justify-content: space-around;
        .formulario-form{
            padding-top: 100px;
           color: $white;
           text-align: center; 
           .forms {
            display: flex;
            flex-direction: column;
            width: 30vw;
            input, textarea {
                text-align: center;
                border: none;
                background: none;
                margin: 10px;
                padding: 10px;
                border-bottom: 1px solid $white;
                color: $white;
            }
           } 
           .formulario-contacto-buttons {
                .input-contacto {
                    display: flex;
                    justify-content: center;
                    input{
                    @include input-form;
                    &:hover {
                        color: $hover;
                            }
                    }   
                }  
            }
        }
   }
   .section-contactanos {
    .contactanos {
        text-align: center;
        color: $white;
        padding: 25px 0px;
        font-size: 2.1rem;
    }
    .text-contacto {
        color: $white;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 5px;
    }
    }
   
   footer {
       grid-area: footer;
       @include footer;
   }
   
   @import "layout/media-querys/media-contacto.scss";