@import "layout/reset";
@import "layout/mixin";
@import "layout/variables";
@import "layout/extend";


//index
/*index*/ 

.contedor-grid {
   @include display-grid;
}
body .contenedor {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
header {
    height: 100px;
    background-color: $color;
    grid-area: header;
    .h1-logo{
    @include logo;
    }
    .nav-productos ul li {
        @include nav;
    }
}
 .main-fondo-home {
    @include home;
}
main {
    .main-eslogan {
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 10px;
        font-size: 2rem;}
        form {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            button {
                @extend %botones;
                &:hover {
                    color: $hover;
                }
            }
        }
}
.section-sobrenosotros {   
    height: 600px;
    grid-area: section-sobrenosotros;
    padding-top: 80px;
    .h2-sobrenosotros {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-style: italic;
    }
    .p-sobrenosotros {
        padding: 60px 60px;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
    }
    form {
        padding-top: 5px;
        text-align: center;
        button {
            @extend %botones;
            &:hover {
            color: $hover;
            }
        }
    }
}
.section-productos {
    height: 1000px;
    grid-area: section-productos;
    background-color: rgb(26, 26, 26);
    text-align: center;
    color: white;
    .h2-productos {
        padding: 10px;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
    }
}
.section-extra {
    height: 550px;
    background-color: rgb(248, 236, 222);
    grid-area: section-extra;
    padding: 15px;
    text-align: center;
    .h2-extra {
        font-family: 'Roboto', sans-serif;
        padding-top: 50px;
        font-size:  2.5rem;
        text-transform: uppercase;
    }
    .section-extra-contenido {
        font-size: 1.5rem;
        padding: 50px 30px;
        font-family: 'Libre Franklin', sans-serif;
    }
    form {
        padding-top: 25px;
        button {
            @extend %botones;
            &:hover {
                color: $hover;
            }
        }
    }
}
footer {
    @include footer;
}
@import "layout/media-querys/home.scss";

/* SOBRE NOSOTROS*/

.contenedor-grid-sobrenosotros {
    @include display-grid-sobrenosotros;
}
header {
    grid-area: header; 
}
.main-sobre-nosotros{
    grid-area: main;
    height: auto;
        .h2-sobre-nosotros {
            font-style: italic;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            padding-top: 50px;
        } 
    }
    .p1,.p2 {
        text-align: justify;
        padding: 30px 50px;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
.img-sobrenosotros img{
    height: 200px;
    margin: 200px 25px ;
    grid-area: img-sobrenosotros;
    &:hover{
        @extend %transition-uno} 
}
.contenedor-imagenes {
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: $color;
    grid-area: contenedor-imagenes;
    .img-trabajadores {
        height: 150px ;
        display: flex;
        padding-top: 30px;
        .img-radius {
            border-radius: 100px;
            &:hover{
                @extend %transition-dos} 
        }
    }
}
footer {
    grid-area: footer;
    @include footer;
}
@import "layout/media-querys/media-sobre-nosotros.scss";

/*productos*/
.contenedor-productos {
    @include display-grid-productos;
   }
   header{
       grid-area: header;
   }
   main {
       height: auto;
       grid-area: main;
       .h2-main-productos {
           padding: 10px;
           height: 60px;
           text-align: center;
           background-color: rgb(52, 52, 52);
           font-family: 'Roboto', sans-serif;
           font-weight: bold;
           text-transform: uppercase;
           color: white;
       }
       .cartas-productos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        .bg-black {
            border-radius: 20px;
            height: auto;
            text-align: center;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
                transform: translateY(-3%);}
            .card-img-top{
                border-radius: 10px;
                &:hover{
                    @extend %transition-dos} 
            }
            }
        }
    }
   .texto-productos {
        padding: 25px 50px;
        font-size: 1.2rem;
        text-align: justify;
        font-family: 'Libre Franklin', sans-serif;
   }  
   footer {
       @include footer;
       grid-area: footer;
   }

   @import "layout/media-querys/media-productos.scss";
/*ENVIOS*/
   .contenedor-grid-envios {
       @include display-grid-envios
   }

   header {
       grid-area: header;
   }
   main {
       grid-area: main;
   }
   .contenedor-envios {
       background-color: rgb(218, 255, 243);
       height: 290px;
       h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        text-align: center;
        padding: 25px;
    }
    .envios1, .envios2 {
        font-family: 'Libre Franklin', sans-serif;
        text-align: justify;
        padding: 5px 25px;
    }
   }
   .section-envios {
       background-color: rgb(218, 255, 243);
       display: flex;
       flex-direction: column column;
       grid-area: section-envios;
       .section1, .section2 {
        font-family: 'Libre Franklin', sans-serif;
        text-align: justify;
        padding: 5px 25px;
    }
    img {
        display: flex;
        padding: 10px;
        height: 100px;
    }
   }
   footer {
       @include footer;
       grid-area: footer;
   }
   @import "layout/media-querys/media-envios.scss";


   /*CONTACTO*/

   .contenedor-grid-contacto {
       @include contenedor-grid-contacto;
   }
   header {
       grid-area: header;
   }
   .formulario-contacto-principal {
       grid-area: main;
       background-color: antiquewhite;
       height: auto;
       .formulario-contacto,textarea {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }   
        legend {
        border-radius: 9px;
        background-color: black;
        font-size: 2rem;
        padding: 15px 15px;
        color: white;
    }
        .formulario-contacto-style {
            border-radius: 9px;
            border: 2px solid black;
            label {
                display: flex;
                flex-direction: column;
                margin: 15px;
                font-size: 1.5rem;
            }
            input, textarea {
                text-align: center;
                padding: 15px 15px;
                background-color: rgb(212, 255, 255);
            }
        }
        .formulario-contacto-buttons {
            input {
                background-color: rgb(127, 3, 243);
                padding: 10px;
                border-radius: 15px;
                text-transform: uppercase;
                font-size: 0.9rem;
                color: white;
                margin: 15px 5px;
                &:hover {
                    color: $hover;
                }
            } 
        }
   }
   .section-contactanos {
    grid-area: section-contactanos;
    width: 600px;
    background-color: antiquewhite;
        .contactanos {
            text-align: center;
            padding: 25px;
        }
        .mapa-contacto {
            display: flex;
            justify-content: center;
        }
        .text-contacto {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 5px;
        }
   }
   footer {
       grid-area: footer;
       @include footer;
   }
   
   @import "layout/media-querys/media-contacto.scss";