/*media query Mobile Index*/

@media screen and (min-width: 320px) and (max-width: 768px) {

    .contedor-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header"
                             "main"
                             "section-sobrenosotros"
                             "section-productos"
                             "section.extra"
                             "footer";
    }
      
    body .contenedor {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header {
        height: 200px;
        background-color: rgb(0, 0, 0);
        grid-area: header; }

.main-fondo-home {
    height: 560px;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7) ),url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
    padding-top: 200px;
}
main {
    .main-eslogan {
        color: $white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 0 50px;
        font-size: 1.5rem;
    }
}
.section-sobrenosotros {
    height: auto;
    grid-area: section-sobrenosotros;
    padding: 25px 0px;
    form {
        button{
            
        }
    }
}

.section-productos {
    height: auto;
    grid-area: section-productos;
    .h2-productos {
        padding: 15px 10px;
        font-size: 1.5rem;
    }
    .contenedor-carrusel {
        .carousel-item{
            .tamaño-carrusel{
            width: 80%;
            }
        }
    }  
}
.section-extra {
    height: auto;
    grid-area: section-extra;
    .section-extra-contenido {
        color: $white;
        font-size: 1.4rem;
        padding: 50px 30px;
        font-family: 'Libre Franklin', sans-serif;
    }
    form {
        padding-bottom: 15px;
    }
}

footer {
    grid-area: footer;
    }
}


@media screen and (min-width:769px) and (max-width: 990px) {
    .contedor-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header"
                             "main"
                             "section-sobrenosotros"
                             "section-productos"
                             "section.extra"
                             "footer";
    }
      
    body .contenedor {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header {
        height: 200px;
        background-color: rgb(0, 0, 0);
        grid-area: header; }

.main-fondo-home {
    height: 500px;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7) ),url(../img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
    padding-top: 200px;
}
main {
    .main-eslogan {
        color: $white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 0 50px;
        font-size: 1.5rem;
    }
}

.section-sobrenosotros {
    height: auto;
    grid-area: section-sobrenosotros;
    padding: 25px 0px;
    form {
        button{
            
        }
    }
}

.section-productos {
    height: auto;
    grid-area: section-productos;
    .h2-productos {
        padding: 15px 10px;
        font-size: 1.5rem;
    }
    .contenedor-carrusel {
        .carousel-item{
            .tamaño-carrusel{
            width: 80%;
            }
        }
    }  
}

.section-productos {
    height: auto;
    grid-area: section-productos;
    .h2-productos {
        padding: 15px 10px;
        font-size: 1.5rem;
    }
}
.section-extra { 
    height: auto;
    grid-area: section-extra;
        .section-extra-contenido {
            color: $white;
            font-size: 1.4rem;
            padding: 50px 30px;
            font-family: 'Libre Franklin', sans-serif;
        }
    }

footer {
    grid-area: footer;
    height: auto;
    }
}
   



