@media screen and (max-width: 600px) {
    .contenedor-grid-contacto {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "header"
                          "main" 
                          "section-contactanos"
                          "footer";
    }
    header {
        grid-area: header;
    }
    .formulario-contacto-principal {
        grid-area: main;
        background-color: antiquewhite;
        height: auto;
        .formulario-contacto,textarea {
         text-align: center;
         font-family: 'Roboto', sans-serif;
     }   
         legend {
         border-radius: 9px;
         background-color: black;
         font-size: 2rem;
         padding: 15px 15px;
         color: white;
     }
         .formulario-contacto-style {
             border-radius: 9px;
             border: 2px solid black;
             label {
                 display: flex;
                 flex-direction: column;
                 margin: 15px;
                 font-size: 1.5rem;
             }
             input, textarea {
                 text-align: center;
                 padding: 15px 15px;
                 background-color: rgb(212, 255, 255);
             }
         }
         .formulario-contacto-buttons {
             input {
                 background-color: rgb(127, 3, 243);
                 padding: 10px;
                 border-radius: 15px;
                 text-transform: uppercase;
                 font-size: 0.9rem;
                 color: white;
                 margin: 15px 5px;
                 &:hover {
                     color: $hover;
                 }
             } 
         }
    }
    .section-contactanos {
     grid-area: section-contactanos;
     width: 600px;
     background-color: antiquewhite;
         .contactanos {
             text-align: center;
             padding: 25px;
         }
         .mapa-contacto {
             
             display: flex;
             justify-content: center;
         }
         .text-contacto {
             text-align: center;
             font-size: 1.2rem;
             font-weight: bold;
             padding: 5px;
         }
    }
    footer {
        grid-area: footer;
        @include footer;
    }
}


@media screen and (min-width: 600px) and (max-width: 1200px){
    .contenedor-grid-contacto {
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "header"
                              "main" 
                              "section-contactanos"
                              "footer";
        }
        header {
            grid-area: header;
        }
        .formulario-contacto-principal {
            grid-area: main;
            background-color: antiquewhite;
            height: auto;
            .formulario-contacto,textarea {
             text-align: center;
             font-family: 'Roboto', sans-serif;
         }   
             legend {
             border-radius: 9px;
             background-color: black;
             font-size: 2rem;
             padding: 15px 15px;
             color: white;
         }
             .formulario-contacto-style {
                 border-radius: 9px;
                 border: 2px solid black;
                 label {
                     display: flex;
                     flex-direction: column;
                     margin: 15px;
                     font-size: 1.5rem;
                 }
                 input, textarea {
                     text-align: center;
                     padding: 15px 15px;
                     background-color: rgb(212, 255, 255);
                 }
             }
             .formulario-contacto-buttons {
                 input {
                     background-color: rgb(127, 3, 243);
                     padding: 10px;
                     border-radius: 15px;
                     text-transform: uppercase;
                     font-size: 0.9rem;
                     color: white;
                     margin: 15px 5px;
                     &:hover {
                         color: $hover;
                     }
                 } 
             }
        }
        .section-contactanos {
         grid-area: section-contactanos;
         width: auto;
         background-color: antiquewhite;
             .contactanos {
                 text-align: center;
                 padding: 25px;
             }
             .mapa-contacto {
                 
                 display: flex;
                 justify-content: center;
             }
             .text-contacto {
                 text-align: center;
                 font-size: 1.2rem;
                 font-weight: bold;
                 padding: 5px;
             }
        }
        footer {
            grid-area: footer;
            @include footer;
        }
    }